@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
.carousel{
    height: 100vh;
    background: #55a0f0;
}
.img-box{
    position: absolute;
    left: 50%;
    transform: rotateX(-50%);
    height: 1600px;
    width: 1600px;
}